@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.1708 0.0103 285.25);
	--background-50: oklch(0.1708 0.0103 285.25 / 5%);
	--background-100: oklch(0.1708 0.0103 285.25 / 10%);
	--background-200: oklch(0.1708 0.0103 285.25 / 20%);
	--background-250: oklch(0.1708 0.0103 285.25 / 25%);
	--background-300: oklch(0.1708 0.0103 285.25 / 30%);
	--background-400: oklch(0.1708 0.0103 285.25 / 40%);
	--background-500: oklch(0.1708 0.0103 285.25 / 50%);
	--background-600: oklch(0.1708 0.0103 285.25 / 60%);
	--background-700: oklch(0.1708 0.0103 285.25 / 70%);
	--background-800: oklch(0.1708 0.0103 285.25 / 80%);
	--background-900: oklch(0.1708 0.0103 285.25 / 90%);
	--foreground: oklch(0.2215 0.0155 285.06);
	--foreground-50: oklch(0.2215 0.0155 285.06 / 5%);
	--foreground-100: oklch(0.2215 0.0155 285.06 / 10%);
	--foreground-200: oklch(0.2215 0.0155 285.06 / 20%);
	--foreground-300: oklch(0.2215 0.0155 285.06 / 30%);
	--foreground-400: oklch(0.2215 0.0155 285.06 / 40%);
	--foreground-500: oklch(0.2215 0.0155 285.06 / 50%);
	--foreground-600: oklch(0.2215 0.0155 285.06 / 60%);
	--foreground-700: oklch(0.2215 0.0155 285.06 / 70%);
	--foreground-800: oklch(0.2215 0.0155 285.06 / 80%);
	--foreground-900: oklch(0.2215 0.0155 285.06 / 90%);

	--accent: oklch(0.7252 0.1772 7.94);
	--accent-50: oklch(0.7252 0.1772 7.94 / 5%);
	--accent-100: oklch(0.7252 0.1772 7.94 / 10%);
	--accent-200: oklch(0.7252 0.1772 7.94 / 20%);
	--accent-300: oklch(0.7252 0.1772 7.94 / 30%);
	--accent-400: oklch(0.7252 0.1772 7.94 / 40%);
	--accent-500: oklch(0.7252 0.1772 7.94 / 50%);
	--accent-600: oklch(0.7252 0.1772 7.94 / 60%);
	--accent-700: oklch(0.7252 0.1772 7.94 / 70%);
	--accent-800: oklch(0.7252 0.1772 7.94 / 80%);
	--accent-900: oklch(0.7252 0.1772 7.94 / 90%);

	--secondary: oklch(0.8803 0.1348 86.06);
	--secondary-50: oklch(0.8803 0.1348 86.06 / 5%);
	--secondary-100: oklch(0.8803 0.1348 86.06 / 10%);
	--secondary-200: oklch(0.8803 0.1348 86.06 / 20%);
	--secondary-300: oklch(0.8803 0.1348 86.06 / 30%);
	--secondary-400: oklch(0.8803 0.1348 86.06 / 40%);
	--secondary-500: oklch(0.8803 0.1348 86.06 / 50%);
	--secondary-600: oklch(0.8803 0.1348 86.06 / 60%);
	--secondary-700: oklch(0.8803 0.1348 86.06 / 70%);
	--secondary-800: oklch(0.8803 0.1348 86.06 / 80%);
	--secondary-900: oklch(0.8803 0.1348 86.06 / 90%);

	--blue: oklch(0.8228 0.1095 346.02);
	--blue-50: oklch(0.8228 0.1095 346.02 / 5%);
	--blue-100: oklch(0.8228 0.1095 346.02 / 10%);
	--blue-200: oklch(0.8228 0.1095 346.02 / 20%);
	--blue-300: oklch(0.8228 0.1095 346.02 / 30%);
	--blue-400: oklch(0.8228 0.1095 346.02 / 40%);
	--blue-500: oklch(0.8228 0.1095 346.02 / 50%);
	--blue-600: oklch(0.8228 0.1095 346.02 / 60%);
	--blue-700: oklch(0.8228 0.1095 346.02 / 70%);
	--blue-800: oklch(0.8228 0.1095 346.02 / 80%);
	--blue-900: oklch(0.8228 0.1095 346.02 / 90%);

	--surface: oklch(0.9702 0 0);
	--surface-50: oklch(0.9702 0 0 / 5%);
	--surface-100: oklch(0.9702 0 0 / 10%);
	--surface-200: oklch(0.9702 0 0 / 20%);
	--surface-300: oklch(0.9702 0 0 / 30%);
	--surface-400: oklch(0.9702 0 0 / 40%);
	--surface-500: oklch(0.9702 0 0 / 50%);
	--surface-600: oklch(0.9702 0 0 / 60%);
	--surface-700: oklch(0.9702 0 0 / 70%);
	--surface-800: oklch(0.9702 0 0 / 80%);
	--surface-900: oklch(0.9702 0 0 / 90%);

	--white-50: oklch(1 0 0 / 5%);
	--white-100: oklch(1 0 0 / 10%);
	--white-200: oklch(1 0 0 / 20%);
	--white-300: oklch(1 0 0 / 30%);
	--white-400: oklch(1 0 0 / 40%);
	--white-500: oklch(1 0 0 / 50%);
	--white-600: oklch(1 0 0 / 60%);
	--white-700: oklch(1 0 0 / 70%);
	--white-800: oklch(1 0 0 / 80%);
	--white-900: oklch(1 0 0 / 90%);

	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.87 0 0);
	--chart-2: oklch(0.556 0 0);
	--chart-3: oklch(0.439 0 0);
	--chart-4: oklch(0.371 0 0);
	--chart-5: oklch(0.269 0 0);
	--radius: 0.625rem;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--sh: 0 4px 24px 0 var(--foreground-100);
}

@theme {
	@keyframes shadow-pulse {
		0% {
			box-shadow: 0 0 0 0 transparent;
		}
		100% {
			box-shadow: 0 0 24px 0 var(--foreground);
		}
	}

	--animate-shadow-fade: shadow-pulse 0.5s cubic-bezier(0.4, 0, 0.6, 1);
}

@theme inline {
	--color-background: var(--background);
	--color-background-50: var(--background-50);
	--color-background-100: var(--background-100);
	--color-background-200: var(--background-200);
	--color-background-250: var(--background-250);
	--color-background-300: var(--background-300);
	--color-background-400: var(--background-400);
	--color-background-500: var(--background-500);
	--color-background-600: var(--background-600);
	--color-background-700: var(--background-700);
	--color-background-800: var(--background-800);
	--color-background-900: var(--background-900);

	--color-foreground: var(--foreground);
	--color-foreground-50: var(--foreground-50);
	--color-foreground-100: var(--foreground-100);
	--color-foreground-200: var(--foreground-200);
	--color-foreground-300: var(--foreground-300);
	--color-foreground-400: var(--foreground-400);
	--color-foreground-500: var(--foreground-500);
	--color-foreground-600: var(--foreground-600);
	--color-foreground-700: var(--foreground-700);
	--color-foreground-800: var(--foreground-800);
	--color-foreground-900: var(--foreground-900);
	--font-exo_2: var(--font-exo_2);

	--color-accent: var(--accent);
	--color-accent-50: var(--accent-50);
	--color-accent-100: var(--accent-100);
	--color-accent-200: var(--accent-200);
	--color-accent-300: var(--accent-300);
	--color-accent-400: var(--accent-400);
	--color-accent-500: var(--accent-500);
	--color-accent-600: var(--accent-600);
	--color-accent-700: var(--accent-700);
	--color-accent-800: var(--accent-800);
	--color-accent-900: var(--accent-900);

	--color-secondary: var(--secondary);
	--color-secondary-50: var(--secondary-50);
	--color-secondary-100: var(--secondary-100);
	--color-secondary-200: var(--secondary-200);
	--color-secondary-300: var(--secondary-300);
	--color-secondary-400: var(--secondary-400);
	--color-secondary-500: var(--secondary-500);
	--color-secondary-600: var(--secondary-600);
	--color-secondary-700: var(--secondary-700);
	--color-secondary-800: var(--secondary-800);
	--color-secondary-900: var(--secondary-900);

	--color-blue: var(--blue);
	--color-blue-50: var(--blue-50);
	--color-blue-100: var(--blue-100);
	--color-blue-200: var(--blue-200);
	--color-blue-300: var(--blue-300);
	--color-blue-400: var(--blue-400);
	--color-blue-500: var(--blue-500);
	--color-blue-600: var(--blue-600);
	--color-blue-700: var(--blue-700);
	--color-blue-800: var(--blue-800);
	--color-blue-900: var(--blue-900);

	--color-surface: var(--surface);
	--color-surface-50: var(--surface-50);
	--color-surface-100: var(--surface-100);
	--color-surface-200: var(--surface-200);
	--color-surface-300: var(--surface-300);
	--color-surface-400: var(--surface-400);
	--color-surface-500: var(--surface-500);
	--color-surface-600: var(--surface-600);
	--color-surface-700: var(--surface-700);
	--color-surface-800: var(--surface-800);
	--color-surface-900: var(--surface-900);
	--color-surface-linear: var(--surface-linear);

	--color-white-50: var(--white-50);
	--color-white-100: var(--white-100);
	--color-white-200: var(--white-200);
	--color-white-300: var(--white-300);
	--color-white-400: var(--white-400);
	--color-white-500: var(--white-500);
	--color-white-600: var(--white-600);
	--color-white-700: var(--white-700);
	--color-white-800: var(--white-800);
	--color-white-900: var(--white-900);
	--font-heading: var(--font-exo_2);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) * 0.6);
	--radius-md: calc(var(--radius) * 0.8);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) * 1.4);
	--radius-2xl: calc(var(--radius) * 1.8);
	--radius-3xl: calc(var(--radius) * 2.2);
	--radius-4xl: calc(var(--radius) * 2.6);

	--shadow-sh: var(--sh);
	--color-faq: var(--surface-200);
}

body {
	color: var(--surface);
	font-family: var(--font-roboto), -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

.dark {
	--background: oklch(0.1822 0 0);
	--foreground: oklch(0.235 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.87 0 0);
	--chart-2: oklch(0.556 0 0);
	--chart-3: oklch(0.439 0 0);
	--chart-4: oklch(0.371 0 0);
	--chart-5: oklch(0.269 0 0);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}

@layer utilities {
	[class*="-button"] {
		box-shadow: 0 0 24px 0 var(--foreground);
	}
	[class*="swiper-button-"] {
		box-shadow: 0 0 24px 0 transparent;
	}
}

@layer components {
	.list-separator {
		& > *:not(:last-child) {
			border-bottom-width: 0.5px;
			border-bottom-color: var(--color-faq);
		}
	}
}